.app {
  display: flex;
  flex-direction: column;
}

header {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header {
  width: 100vw;
  align-items: flex-end;
  position: relative;
  z-index: 1;
}

.header-buttons {
  width: 30%;
  display: flex;
  justify-content: space-around;
}
main {
}
