.available-locations {
  position: relative;
  width: 100%;
  left: 25%;
  height: auto;
  background-color: red;
}

.map-background {
  width: 1200px;
  height: auto;
  position: absolute;
  z-index: 1;
  background-color: white;
}

.location-overlay {
  position: absolute;
  cursor: pointer;
  z-index: 2;
}

.location-icon {
  width: 80px; /* Adjust size as needed */
  height: auto;
}
.location-icon:hover {
  transform: scale(1.1);
}

.hover-label {
  opacity: 0;
  text-transform: uppercase;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: -30px;
  left: 0;
  z-index: 3;
  pointer-events: none;
  transition: opacity 0.3s;
}

.location-overlay:hover .hover-label {
  opacity: 1;
}

/* Positioning the icons on the map */
#voguebutton {
  top: 20px;
  left: 400px;
}

#climatepledgebutton {
  top: 560px;
  left: 650px;
}

#moorebutton {
  top: 480px;
  left: 550px;
}

#wamubutton {
  top: 470px;
  left: 640px;
}
#showarebutton {
  top: 630px;
  left: 600px;
}
#tacomabutton {
  top: 700px;
  left: 600px;
}

/* Add positioning for other venue overlays */
